@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: hsl(30, 54%, 90%);
    color: hsl(24, 5%, 18%);
}

header {
    background-color: hsl(30, 54%, 90%);
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.container {
    max-width: 550px;
    margin: 0 auto 5em auto;
    padding: 4em;
    background-color: #fff;
    border-radius: 2em;
}

.main-image {
    width: 100%;
    border-radius: 1em;
}

h1,
h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

h2 {
    color: hsl(14, 45%, 36%);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5em;
    position: relative;
    padding-left: 1.5em;
}

ul li::before {
    content: "*";
    position: absolute;
    left: 0;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

ol {
    list-style: none;
    padding: 0;
    counter-reset: list-counter;
}

ol li {
    counter-increment: list-counter;
    margin-bottom: 0.5em;
    position: relative;
    padding-left: 1.5em;
}

ol li::before {
    content: counter(list-counter) ".";
    position: absolute;
    left: 0;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.ingredientes {
    margin: 2.5em 0;
}

.preparacion {
    background-color: hsl(330, 100%, 98%);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 2.5em 0;
}

.preparacion h2 {
    margin: 0;
    padding: 0.5em;
    border-radius: 0.5em;
    color: hsl(332, 51%, 32%);
}

.preparacion ul {
    margin: 0 1.5em;
}

.instrucciones {
    margin: 2em 0;
}

.nutricion {
    margin: 1em 0;
    padding: 1em;
}

.nutricion table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.nutricion td {
    border-bottom: 1px solid #ddd;
    padding: 0.5em;
    text-align: justify;
}

.nutricion td:last-child {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

/* Movil Styles */
/* El ejercicio dice que a 375px pero la mayoria de los celulares rondan los 425px*/
@media (max-width: 426px) {
    .container {
        padding: 2em;
        margin: 0;
    }
    .preparacion, .nutricion {
        margin: 1em 0;
        padding: 0.5em;
    }

    .main-image {
        width: 100vw;
        margin: -2em -2em 0.1em -2em;
        border-radius: 0;
    }
}

/* Desktop Styles */
@media (min-width: 1440px) {
    .container {
        max-width: 800px;
        padding: 4em;
    }
}