@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: hsl(30, 54%, 90%);
    color: hsl(24, 5%, 18%);
}

header {
    background-color: hsl(30, 54%, 90%);
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto 5em auto;
    padding: 5em;
    background-color: #fff;
    border-radius: 0.5em;
}

.main-image {
    width: 100%;
    border-radius: 0.5em;
}

h1,
h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

h2 {
    color: hsl(14, 45%, 36%);
}

.preparacion {
    background-color: hsl(330, 100%, 98%);
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em 2em;
}

.preparacion h2 {
    margin: 0;
    padding: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
    color: hsl(332, 51%, 32%);
}

.nutricion {
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.5em;
}

.nutricion table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.nutricion th,
.nutricion td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: justify;
}

.nutricion th {
    background-color: #f96161;
    color: #fff;
}

.nutricion td {
    background-color: #fff;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}